/* Banner----------------------------------------------*/
.index-intro {
  background-color: var(--myrtle);
  text-align: center;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
}

.index-intro h3{
  font-size: 18px;
  color: #fff;
}

.index-intro i {
  margin-right: 20px;
  font-size: 25px;
}
.index-intro a {
  text-decoration: underline;
  color: #fff;
  margin-left: 10px;
}

.index-intro .session-welcome{
  font-size: 25px;
  color: #fff;
}

.index-intro .session-welcome span{
  font-size: 25px;
  color: #ff5c92;
  font-weight: 600;
}

/* Hero-------------------------------------------------*/
.container1 {
    height: 60vh;
    display: flex;
    padding: 50px 40px;
    background: repeating-linear-gradient(to left, #bee1e6 0px, #bee1e6 150px, #fde2e4 150px, #fde2e4 300px, #fff1e6 300px, #fff1e6 450px, #cddafd 450px, #cddafd 600px, #fff1e6 600px, #fff1e6 750px, var(--mimi-pink) 750px, var(--mimi-pink) 900px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .container-left {
    margin-left: 10%;
    width: 50%;
  }
  .container-left h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 100px;
    color: var(--myrtle);
  }
  
  .container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    width: 50%;
  }
  .container-right p {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    width: 80%;
  }
  .container-right img {
    width: 400px;
  }
  .container2 {
    margin: 60px 70px;
    text-align: center;
  }
  .container2 p {
    font-family: "Fira Sans", sans-serif;
    font-size: 40px;
    color: var(--myrtle);
  }
  /*Cards-------------------------------------------*/
  #cards .cards {
    display: flex;
    justify-content: center;
  }
  #cards .card {
    background-color: var(--lavender);
    margin: 0 20px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 3px solid var(--myrtle);
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    max-width: 300px;
  }
  #cards .card img {
    position: absolute;
    top: 0px;
    width: 200px;
  }
  #cards .card h2 {
    font-size: 20px;
    padding: 0 10px;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 200px;
  }
  #cards .card p {
    font-size: 27px;
    font-family: "Fira Sans", sans-serif;
    position: absolute;
    top: 260px;
  }
  #cards .card button {
    position: absolute;
    bottom: 15px;
  }
  
  /* Promo -----------------------------------------*/
  #promo .promo-banner {
    padding: 10px;
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    background-color: var(--mimi-pink);
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 40px 60px;
    border: 3px solid var(--myrtle);
    border-radius: 10px;
  }
  #promo .promo-banner h2 {
    font-size: 40px;
  }
  #promo .promo-banner p {
    font-size: 25px;
  }
  #promo .promo-banner input[type=text],
  #promo .promo-banner select {
    font-size: 20px;
    width: 500px;
    padding: 12px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid var(--myrtle);
    border-radius: 10px;
    box-sizing: border-box;
  }
  #promo .promo-banner button {
    width: 300px;
    margin: auto;
  }